server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/Oopshie/ToolRentMicroservicios
          search-paths: /BackendMS/config-data
  application:
    name: config-service
